
/*
#politikk {
}

#om {

}

#styret {

}

#bli-med {

}

*/

/* Full viewport header / hero-image */
.hero-mdg {
   background-image: url("../assets/MDG_moto.png");
   position: relative;
   background-position: 3em;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
}

.hero-natur {
   background-image: url("../assets/Natur.jpeg");
   position: absolute;
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 50vw;
}

/* navigasjonsbar - fixed on top */
.navbar {
   position: sticky;
   top: 0;
   height: 100px;
   width: 100vw;
   background-color: rgb(118, 157, 43);
   padding-top: 20px;
   text-align: center;
   font-size: 45px;
   letter-spacing: 2px;
   word-spacing: 2px;
}

.footer {
   text-align: center;
   margin: 10px;
}

/*
.navbar ul {

}
*/

.navbar li {
   display: inline-block;
   padding: 5px;
}

/*
.navbar li a {
}
*/

.footer {
   width: 100%;
   height: 100vh;
}

.navbar ul {
   padding: 20px;
}

/*
.navbar ul li {
}
*/

.navbar li a {
   text-decoration: none;
   color: white;
}

.navbar a:hover {
   color: #de549b;
   background-color: white;
   font-size: 50px;
   font-weight: bold;
}

main {
   height: 2000px;
}
