/* unique IDs for navigation purpose
added padding and margin so section header
will display little below navbar when clicked */
#section1 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}
#section2 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}
#section3 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}
#section4 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}

.font-style {
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
}

/* applying same style for h2 elements in om-section */

/* MDG img with full-vw */
.full-img {
   position: relative;
   background-image: url("../assets/MDG_moto.png"); /* not sure this is good regarding screen-reader */
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
}

/* landscape img with 50% vw */
.half-img {
   position: absolute;
   background-image: url("../assets/Natur.jpeg"); /* not sure this is good regarding screen-reader */
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 50vw;
}

/* navbar - always below hero-img header
and sticked on top when scrolling */
.navbar {
   position: sticky;
   top: 0;
   height: 100px;
   width: 100vw;
   z-index: 1;
   background-color: rgba(118, 157, 43, 0.8);
   text-align: center;
}

/* styling navbar ul */
.navbar-ul {
   margin: 0;
   padding: 20px 0;
}

/* making navbar inline blocks  */
.navbar-li {
   display: inline-block;
   margin: 10px 50px 30px 20px;
   font-size: 30px;
   letter-spacing: 2px;
}

/* styling navbar anchor/links */
.navbar a {
   text-decoration: none;
   color: white;
   height: 100vh;
   width: 100vw;
}

/* link effect */
.navbar a:hover {
   color: #de549b;
   background-color: white;
   font-weight: bold;
}

/* when clicked */
.navbar a:active {
   background-color: #265301;
}

/* mouse covering */
.navbar a:focus {
   background-color: #265301;
   font-weight: bold;
}

/* MDG-logo on left-side navbar */
.logo {
   float: left;
   height: 100px;
   margin: 0 0 0 50px;
   padding: 0 0 0 50px;
}

/* using same header decoration */
.header {
   font-size: 35px;
   width: 100%;
   margin: 30px 0px;
   padding: 0 170px;
   background-color: rgb(118, 157, 43);
   color: white;
}

/* section politikk with flexbox  */
.flexbox-container {
   display: flex;
   flex-wrap: wrap;
   width: 100vw;
   min-height: 100vh;
   justify-content: center;
   overflow: scroll; /* not required anymore, added min-height */
}

/* creating content boxes / flex-items */
.flex-item {
   position: relative;
   width: 25vw; /* each flex item will be 25 viewport */
   min-height: 50vh;
   margin: 10px 15px 25px;
   padding: 5px 0 0 15px;
   background-color: aliceblue;
   font-size: 20px;
   text-align: left;
}

/* applying same typography for all h2 elements */
.h2 {
   font-size: 30px;
}

/* styling list elements inside flex-items */
.flex-item li {
   list-style: square outside;
}

/* section om */
.om {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 500px;
}

.flex-leftside {
   position: relative;
   width: 35vw; /* each flex item will be 25 viewport */
   height: 500px;
   margin: 0 15px;
   font-size: 20px;
   text-align: left;
}

.p{
   text-align: left;
   letter-spacing: 1.5px;
   line-height: 2;
}


.video {
   position: relative;
   width: 65vw; /* each flex item will be 25 viewport */
   height: 500px;
   margin: 0px 15px;
}

/* section styret */
.styret {
   width: 100vw;
   min-height: 100vh;
   padding: 0 0 0 50px;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   grid-gap: 20px;
}

/*
.box1{}

.box2{}

.box3{}

.box4{}

.box5{}

.box6{}

.box7{}

.box8{}

.box9{}

.box10{}

.box11{}

.box12{}
*/

/* section bli-med */
.bli-med {
   width: 100vw;
   min-height: 150vh;
   margin: 0 0 70px;
}

.fieldset {
   border: 10px solid rgba(118, 157, 43);
   display: block;
   margin-inline-start: 100px;
   margin-inline-end: 200px;
}

/* form title */
.legend {
   text-align: left;
   margin: 0 0 0 100px;
   font-size: 30px;
}

/* styling form elements */
input,
select,
textarea {
   display: block;
   padding: 5px;
   margin: 10px;
   width: 500px;
}

label {
   margin-left: 20px;
}

.footer {
   width: 100vw;
   background-color: rgba(118, 157, 43, 0.8);
   color: white;
   font-size: 20px;
   text-align: left;
}

.footer-container {
   border: 10px solid;
   display: flex;
   flex-wrap: wrap;
   width: 100vw;
   height: 50vh;
}

.flex-item1 {
   width: 40vw;
   margin: 40px -10px 0;
}

.flex-item2 {
   width: 30vw;
   padding: 20px 0 0;
   align-items: right;
}

.flex-item3 {
   width: 30vw;
   padding: 20px 0 0;
   align-items: right;
}

.h3 {
   font-size: 25px;
   line-height: 80px;
}

.MDG{
   font-size: 25px;
   line-height: 80px;
   font-weight: bold;
}

.link-style {
   display:block;
   color: white;
   text-decoration: none;
}

.link-style:hover{
   color: #de549b;
   background-color: white;
   font-weight: bold;
   width: 210px;
}
