/* unique IDs for navigation purpose
added padding and margin so section header
will display little below navbar when clicked on */
#section1 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}
#section2 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}
#section3 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}
#section4 {
   padding: 80px 0 0;
   margin: -60px 0 0;
}

/* universal using elements throughout the website */
.font-style {
   font-family: "Inter", sans-serif;
   font-family: "Montserrat", sans-serif;
}

.h2 {
   padding: 5px 0 10px;
   font-size: 30px;
   line-height: 2;
}

.h3 {
   font-size: 25px;
   line-height: 80px;
}

.bold {
   font-weight: bold;
}

/* using same decoration for all header elements */
.header {
   font-size: 35px;
   width: 100%;
   margin: 30px 0px;
   padding: 0 170px;
   background-color: rgb(118, 157, 43);
   color: white;
}

/* Section - HERO-image */
.full-img {
   position: relative;
   background-image: url("../assets/MDG_moto.png"); /* not sure this is good regarding screen-reader */
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
}

.half-img {
   position: absolute;
   background-image: url("../assets/Natur.jpeg"); /* not sure this is good regarding screen-reader */
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 50vw;
}

/* navbar - always below hero-img header
and sticked on top when scrolling */
.navbar {
   position: sticky;
   top: 0;
   height: 100px;
   width: 100vw;
   z-index: 1;
   background-color: rgba(118, 157, 43, 0.8);
   text-align: center;
}

/* MDG-logo on left-side navbar */
.nav-logo {
   float: left;
   height: 100px;
   margin: 0 0 0 50px;
   padding: 0 0 0 50px;
}
/* styling navbar ul */
.navbar-ul {
   margin: 0;
   padding: 20px 0;
}

/* making navbar inline blocks  */
.navbar-li {
   display: inline-block;
   margin: 10px 50px 30px 20px;
   font-size: 30px;
   letter-spacing: 2px;
}

/* styling navbar anchor/links */
.navbar a {
   text-decoration: none;
   color: white;
   height: 100vh;
   width: 100vw;
}

/* link effect */
.navbar a:hover {
   color: #de549b;
   background-color: white;
   font-weight: bold;
}

/* when clicked */
.navbar a:active {
   background-color: #265301;
}

/* mouse covering */
.navbar a:focus {
   background-color: #265301;
   font-weight: bold;
}

/* Section - politikk */
.flexbox-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100vw;
   min-height: 100vh;
   overflow: scroll; /* not required anymore, added min-height */
}

/* creating content boxes / flex-items */
.flex-item {
   width: 25vw; /* each flex item will be 25 viewport */
   min-height: 50vh;
   margin: 10px 15px 25px;
   padding: 5px 0 0 15px;
   border: 2px solid rgba(118, 157, 43);
   font-size: 20px;
   text-align: left;
   line-height: 2;
}

/* styling list elements inside flex-items */
.flex-item li {
   list-style: square inside;
}

.les-mer {
   margin: 20px 5px 0 0;
}

/* section - om */
.om {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 500px;
}

.flexbox-leftside {
   position: relative;
   width: 35vw; /* this flex item will be 35 viewport */
   height: 500px;
   margin: 0 0 0 50px;
   font-size: 20px;
}

.leftside-content {
   text-align: left;
   letter-spacing: 1.5px;
   line-height: 2;
}

.video {
   position: relative;
   width: 65vw; /* this flex item will be 65 viewport */
   height: 500px;
   margin: 0px 15px;
}

/* section - styret */
.styret {
   width: 100vw;
   min-height: 100vh;
   padding: 0 0 50px;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   grid-gap: 20px;
}

/* section - bli med */
.bli-med {
   width: 100vw;
   min-height: 150vh;
   margin: 0 0 70px;
}

/* form container */
.fieldset {
   border: 10px solid rgba(118, 157, 43);
   display: block;
   margin-inline-start: 100px;
   margin-inline-end: 200px;
}

/* form title */
.legend {
   text-align: left;
   margin: 0 0 0 100px;
   font-size: 30px;
}

.select-birthday {
   display: inline-block;
   width: 50px;
   margin: 5px -20px 20px 20px;
}

.select-year {
   display: inline-block;
   width: 80px;
   margin: 5px -20px 20px 20px;
}

.select-membership {
   width: 250px;
}

.select-gender {
   width: 110px;
}

.select-welcome {
   width: 60px;
}

.select-card {
   width: 120px;
}

.card-number {
   width: 200px;
}

.submit-button {
   width: 100px;
   margin: 5px 0 20px 20px;
}

/* section - footer */
.footer {
   width: 100vw;
   background-color: rgba(118, 157, 43, 0.8);
   color: white;
   font-size: 20px;
   text-align: left;
}

.footer-container {
   border: 10px solid;
   display: flex;
   flex-wrap: wrap;
   width: 100vw;
   height: 50vh;
}

.footer-flex1 {
   width: 40vw;
   margin: 40px -10px 0;
}

.footer-flex2 {
   width: 30vw;
   padding: 20px 0 0;
   align-items: right;
}

.footer-flex3 {
   width: 30vw;
   padding: 20px 0 0;
   align-items: right;
}

.MDG-footer {
   font-size: 25px;
   line-height: 80px;
   font-weight: bold;
}

.footer-link {
   display: block;
   color: white;
   text-decoration: none;
}

.footer-link:hover {
   color: #de549b;
   background-color: white;
   font-weight: bold;
   width: 210px;
}

/* styling form elements */
input,
select,
textarea {
   display: block;
   padding: 5px;
   width: 300px;
   margin: 5px 0 20px 20px;
}

label {
   margin-left: 20px;
   display: block;
}
